**
!Cargo.toml
!Cargo.lock
!src/
!src/**
!crates/
!crates/*/
!crates/*/Cargo.toml
!crates/*/src/
!crates/*/src/**
!crates/*/examples/
!crates/*/examples/**
!docs/
!docs/api/
!docs/api/openapi.json
!docs/api/reference.html
!docs/api/reference.js
!Dockerfile
!LICENSE
**/target/
**/.env
**/.env.*
**/*.pem
**/*.key
